<footer>
    <div class="left-footer">&copy; Michael Upjohn 2015</div>
    <div class="right-footer">
        <!-- Projects &#8226; Blogs &#8226; Contact Me -->
        <ul class="footer-links">
            <li>
                <a href="@Url.Action("Index", "Projects")">Projects</a>
            </li>
            <li>
                <a href="@Url.Action("Index","Blogs")">Blogs</a>
            </li>
            <li class="last">
                <a href="@Url.Action("Index", "Contact")">Contact Me</a>
            </li>
        </ul>
    </div>
</footer>
