
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 row-no-padding white-area">
            <div class="content-area large-padding">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <img src="~/_includes/img/Programming.jpg" alt="Programming" class="col-md-12 img-responsive pull-left">
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <h1>
                        C#, T-SQL, .NET,
                        SVN, jQuery and
                        AngularJS are just
                        some of the
                        technologies I use...
                    </h1>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 row-no-padding white-area">
            <div class="content-area no-title">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla lorem at lacinia maximus. Morbi volutpat sagittis diam sit amet tempor. In et faucibus massa. Morbi id congue enim. Aliquam ac efficitur massa, eget dapibus mi. Proin vel tellus libero. Sed suscipit bibendum commodo. Integer iaculis nunc vitae lobortis egestas. Fusce venenatis mauris nec metus auctor laoreet. Donec tincidunt tincidunt sapien sit amet rhoncus. Nam porttitor non enim ac fringilla. Nulla sed tristique odio. Proin eu nunc vel lacus fermentum sodales.</p>

                    <p>Integer non nulla sed lacus dictum porttitor vitae bibendum quam. Cras vel eros eget purus molestie facilisis. Aenean tincidunt ut erat nec cursus. Suspendisse vitae commodo justo. Suspendisse auctor ipsum convallis mauris laoreet, at rutrum purus condimentum. Phasellus ac scelerisque arcu. Morbi hendrerit dui elit. Mauris sit amet quam quis leo efficitur tristique. Maecenas ut ante pretium, consectetur massa eget, tincidunt lectus. Proin sed ligula nisi. Aliquam facilisis, urna et placerat viverra, eros nisi tristique turpis, vel maximus ligula justo vel dui. Fusce blandit augue at malesuada finibus. Morbi a mi vitae enim malesuada egestas. Vestibulum vestibulum laoreet tellus nec interdum. Donec rutrum ipsum eu magna bibendum consequat. Suspendisse potenti.</p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                    <img src="~/_includes/img/git-icon.png" alt="GIT Icon" class="col-md-12 img-responsive pull-left">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 row-no-padding white-area">
            <footer>
                <div class="left-footer">&copy; Michael Upjohn 2015</div>
                <div class="right-footer">
                    <!-- Projects &#8226; Blogs &#8226; Contact Me -->
                    <ul class="footer-links">
                        <li>
                            <a href="#">Projects</a>
                        </li>
                        <li>
                            <a href="#">Blogs</a>
                        </li>
                        <li class="last">
                            <a href="#">Contact Me</a>
                        </li>
                    </ul>
                </div>
            </footer>
        </div>
    </div>
</div>