@{
    ViewBag.Title = "Home Page";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 row-no-padding">
            <div class="banner-container">
                <div class="banner-content">
                    <h1>Mike Upjohn</h1>
                    <h2>.NET Web Developer<br />and Meteorologist</h2>
                </div>
            </div>
            <div class="banner-image"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 row-no-padding white-area">
            <div class="content-area">
                <h3 class="white-title"><span>Lorem Ipsum Dolor Sit Amet</span></h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam fringilla lorem at lacinia maximus. Morbi volutpat sagittis diam sit amet tempor. In et faucibus massa. Morbi id congue enim. Aliquam ac efficitur massa, eget dapibus mi. Proin vel tellus libero. Sed suscipit bibendum commodo. Integer iaculis nunc vitae lobortis egestas. Fusce venenatis mauris nec metus auctor laoreet. Donec tincidunt tincidunt sapien sit amet rhoncus. Nam porttitor non enim ac fringilla. Nulla sed tristique odio. Proin eu nunc vel lacus fermentum sodales.</p>

                <p>Integer non nulla sed lacus dictum porttitor vitae bibendum quam. Cras vel eros eget purus molestie facilisis. Aenean tincidunt ut erat nec cursus. Suspendisse vitae commodo justo. Suspendisse auctor ipsum convallis mauris laoreet, at rutrum purus condimentum. Phasellus ac scelerisque arcu. Morbi hendrerit dui elit. Mauris sit amet quam quis leo efficitur tristique. Maecenas ut ante pretium, consectetur massa eget, tincidunt lectus. Proin sed ligula nisi. Aliquam facilisis, urna et placerat viverra, eros nisi tristique turpis, vel maximus ligula justo vel dui. Fusce blandit augue at malesuada finibus. Morbi a mi vitae enim malesuada egestas. Vestibulum vestibulum laoreet tellus nec interdum. Donec rutrum ipsum eu magna bibendum consequat. Suspendisse potenti.</p>

                <p>Donec ut augue nec ante sodales aliquam sed eget mauris. Proin ut massa pulvinar, malesuada nunc eu, auctor metus. Nullam magna purus, cursus eu laoreet quis, cursus vitae lacus. Duis iaculis rutrum ex non sodales. Sed vitae nunc ac nibh commodo fringilla. Interdum et malesuada fames ac ante ipsum primis in faucibus. Duis maximus elementum dui eu faucibus. Duis eget vehicula dui. Quisque eu enim fermentum, elementum diam aliquet, ornare justo.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 row-no-padding purple-area">
            <div class="content-area">
                @Html.Action("_LatestProject", "Home")
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 row-no-padding white-area">
            <div class="content-area">
                @Html.Action("_LatestBlog", "Home")
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 row-no-padding purple-area">
            <div class="content-area">
                @Html.Action("_ContactForm", "Shared")
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 row-no-padding white-area">
            @Html.Action("_Footer", "Shared")
        </div>
    </div>
</div>